body {
  margin: 0 200px;
  background-color: #f8fafc;
  color: #020617;
  display: block;
  justify-content: center;
  align-items: center;
}

.container {
     padding: 20px;
     display: block;
     align-items: center;
     justify-content: center;
}

form {
  background-color: #f1f5f9;
  display: block;
}
